source http://nuget.org/api/v2
framework: net45

group Test
  source http://www.nuget.org/api/v2/
  framework: net45
  nuget NUnit
  nuget Gu.Wpf.UiAutomation


group Analyzers
  source http://nuget.org/api/v2
  nuget StyleCop.Analyzers
  nuget WpfAnalyzers
  nuget Gu.Analyzers
  nuget JetBrains.Annotations